/* font style */
h1, h2, h3, h4, h5{
  font-family: 'Poppins', sans-serif !important;
}

.preparation-a a{
  color: white;
}
/* yellow line */
.dez-separator{
      display: inline-block;
      background-color: #ffc009 !important;
      height: 3px;
      width: 80px;
      margin-bottom: 10px;
      position: relative;
}

.dez-separator-footer{
      display: inline-block;
      background-color: #ffc009 !important;
      height: 3px;
      width: 60px;
      margin-bottom: 10px;
      position: relative;
}

/* button */
.outline-button{
  border-radius: 5px;
  background-color: #ffc009;
  color: white;
}

/* arrow */
.up-arrow{
  position: fixed;
  bottom: 30px;
  right: 30px;
  filter: drop-shadow(2px 2px 2px #666);
}

/* header start from here */
header {
	text-align: center;
  width: 100%;
  height: auto;
	font-size: 120%;
}

/* menu bar start from here */
nav img {
  width: 80%;
  height: auto;
  padding-left: 30%;
}

nav a{
  text-decoration: none;
}

nav ul {
	list-style: none;
  padding: 0;
	margin: 0 auto;
  background-color: #222529;
}

nav ul li {
	font-weight: normal;
  display: inline-block;
  position: relative;
}

nav ul li a {
	display: block;
	padding: 8px;
}

nav ul li:hover > ul {
  display: block;
}

nav ul ul {
  display: none;
  position: absolute;
  margin: auto;
}

nav ul ul li {
  display: block;
}

nav ul a:link {
  color: white;
}
nav ul a:visited {
  color: white !important;
}
nav ul a:focus {
	color: #ffc009;
  border-radius: 5px;
  border-color: #ffc009;
}
nav ul a:hover {
  color: black !important;
  background-color: #ffc009;
  border-radius: 5px;
  border-color: #ffc009;
}
nav ul a:active {
  color: black !important;
  background-color: #ffc009;
  border-radius: 5px;
  border-color: #ffc009;
}
/* menu bar end from here */
/* header end from here */

.banner{ /* Banner */
  width: 100%;
  height: auto;
}

/* About us start from here */
.d-flex {
    display: flex!important;
    flex-direction: column;
}

.about_content{
 position: relative;
}

.button-about{
  position: absolute;
  bottom: 0;
  right: 0;
}

.section-banner-v .item-banner{
  display: flex;
  margin-bottom: 10px;
}

.intro-word{
  margin-bottom: 30px !important;
}

.mb-4 h1{
  padding-bottom: 2px !important;
}
/* about us end from here */

/* yellow circle */
.bg-secondry img{
  border-radius: 50%;
  border: solid 2px #ffc009 !important;
  width: 40px;
  height: 40px;
  margin-right: 7px;
}

/* collection start from here */
.Collection-title{
  background-color: #222529;
}

.Collection-title h2{
  color: white;
  padding-top: 20px;
}

.corn-background{
  background-image: url("../images/corn-background.jpg");
  background-size: cover;

}

.corn img{
  width: 250px;
  height: auto;
  padding-top: 10px;
}

.outfit_content{
 position: relative;
box-shadow: 0px 5px 12.09px 0.91px rgba(0, 0, 0, 0.34);
}

.button-outfit{
  position: absolute;
  bottom: 0;
  right: 0;
}

.outfit_content{
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #222529;
  color: white;
}
/* collection end from here */

/* playing method start from here */
.content-inner h2{
  margin-top: 26px;
}

.overlay-white-dark{
  margin: 0px 30px;
}
.overlay-white-dark img {
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.p-a30 {
    padding: 30px;
}

.dez-info {
    background-color: #222529 !important;
    color: white;
    box-shadow: 0px 5px 12.09px 0.91px rgba(0, 0, 0, 0.34);
}

.playing-method{
  padding-top: 3%;
}
/* playing method end from here */

/* footer start from here */
.bg-light p, .bg-light h4{
  color: white !important;
}

.footers{
  background-color: #222529 !important;
}

.footer-pt-5 {
    padding-top: 2rem !important;
    padding-bottom: 1rem !important;
}

/* footer 1 start from here */
.footers-one img{
  max-width: 28%;
}
/* footer 1 end from here */

/* footer 2 start from here */
.youtube{
  max-width: 35%;
}

.fa-solid{
  padding-right: 2%;
}

.footers-two{
  padding-left: 5%;
}

.footers-two a{
  text-decoration: none;
  padding: 2px 8px;
}

.footers-two ul ul {
  position: absolute;
  margin: auto;
}

.footers-two a:link {
  color: white;
}
.footers-two ul a:visited {
  color: white !important;
}
.footers-two ul a:focus {
	color: #ffc009;
  border-radius: 5px;
}
.footers-two ul a:hover {
  color: black !important;
  background-color: #ffc009;
  border-radius: 5px;
  border-color: #ffc009;
}
.footers-two ul a:active {
  color: black;
  background-color: #ffc009;
  border-radius: 5px;
  border-color: #ffc009;
}
/* footer 2 end from here */

/* footer 3 start from here */
.footers-three p{
  margin-bottom: 0;
}

.footers-three{
  padding-left: 5%;
}

.footers-three a{
  text-decoration: none;
  padding: 2px 8px;
}

.footers-three ul a:link {
  color: white;
}
.footers-three ul a:visited {
  color: white !important;
}
.footers-three ul a:focus {
	color: #ffc009;
  border-radius: 5px;
}
.footers-three ul a:hover {
  color: black !important;
  background-color: #ffc009;
  border-radius: 5px;
  border-color: #ffc009;
}
.footers-three ul a:active {
  color: black !important;
  background-color: #ffc009;
  border-radius: 5px;
  border-color: #ffc009;
}
/* footer 3 start from here */

/* copyright */
.copyright h5{
  color: #222529;
  font-size: 99%;
}
.copyright{
  margin-bottom: 1%;
}
/* footer end from here */

/* phone version start from here */
@media screen and (max-width: 750px) {
  /* footers */
  .footers-two {
    padding: 5%;
  }
  .footers-one img{
    padding-left: 2%;
  }

/* my favourite collection */
  .corn img{
    width: 250px;
    height: auto;
    padding: 0;
  }
  .mtm-40{
    margin: 0;
  }
  #flytocollection{
    margin-bottom: 10px;
  }

/* menu bar */
  nav img{
    width: 200px;
    height: auto;
  }

/* Playing Method */
  .fly-box{
    margin-bottom: 20px;
  }
}

 @media screen and (max-width: 580px) {
   /* menu bar */
.nav{
  display: flex;
  flex-wrap: nowrap;
}
.nav img{
  padding-left: 0%;
}

/* footer */
.footers-one p{
  margin: 10px;
}
 }
